<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Environment</div>
      <div class="item item-body">
        <div id="tempmeter" class="meter"></div>
        <div id="lightmeter" class="meter"></div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Status</div>
      <div class="item item-body">
        <div id="pirmeter" class="meter"></div>
        <div id="sleepmeter" class="meter"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
